
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Trebuchet MS', sans-serif;
}
#back{
  background: linear-gradient(to right, #136a8a, #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height:91vh;
  color: white;
}
svg{
  color:#267871
}
